# Misc
.DS_Store

# Contracts
contracts/cache
contracts/out

# Inquisitor
inquisitor/node_modules
inquisitor/dist
inquisitor/*.log
inquisitor/config.json

# Generator
generator/node_modules
generator/dist
generator/*.log
generator/merkle.json

# Frontend
frontend/.env.local
frontend/node_modules
frontend/out
frontend/.next
frontend/.vercel